<section id="hours">
    <div class="row content">
        <div class="text-container">
            {{ content|raw }}
            {% for button in page.header.buttons %}
                <a class="page-scroll btn btn-xl" href="{{ button.url }}">{{ button.text }}</a>
            {% endfor %}
        </div>
    </div>
</section>
